* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #191970;
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
}

header h1 {
    text-align: center;
    font-family: "Madimi One", "Tahoma";
    padding-top: 20px;
}

nav {
    padding: 20px 0px;
    width: 100%;
    text-align: center;

}

nav a {
    font-family: "Madimi One", "Tahoma";
    display: flex;
    align-items: center;
    padding: 1%;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

nav ul {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a:hover {
    padding-bottom: 0.2em;
    border-bottom: goldenrod 0.1em solid;
    font-family: bold;
}

main {
    padding-top: 12%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

#manchete {
    grid-column: 1/4;
    background-color: aliceblue;
    padding-bottom: 1%;
    min-height: 300px;


}
#corpo_manchete{
    display: flex;
    justify-content: space-around;
}
#corpo_manchete p{
text-align: center;
}

article {
    width: 31.33%;
    padding: 1%;
    min-height: 250px;
}

#noticia {
    padding-bottom: 0.1%;
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#noti1 {
    background-color: #191970;
}

#noti2 {
    background-color: #1919;
}

#noti3 {
    background-color: #701600;
}

footer {
    background-color: #191970;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 100%;
    height: 55px;
    position: relative;
    bottom: 0;
    left: 0;
}

footer p {
    color: white;
    text-align: center;
    padding: 17px 0px;
}